<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<form action="/ProjectManagementSystem" method="post">
    <label for="tables">Choose a table:</label>
    <select name="tables" id="tables">
        <option value="companies">Companies</option>
        <option value="customers">Customers</option>
        <option value="projects">Projects</option>
        <option value="developers">Developers</option>
        <option value="skills">Skills</option>
    </select><br>
    <button type="submit">Confirm</button>
</form>


</body>
</html>