<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<style>
    .inline {
    font-size: larger;
    font: italic small-caps bold 16px/2 cursive;
    border:2px solid red;
    font-weight: lighter;
	background-color:#D0B084;
    padding:7px;
    margin:7px;
	border-radius:7px;
	opacity:0.9;
	box-shadow: 10px 10px 10px#2F3841;
	text-align:center;
    display: inline-block;
    }
</style>


<h1 th:text="' Here is information about developer with id: ' + ${developer.id}" class="inline"></h1><br>
<h2 th:text="'First name ' + ${developer.first_name}" class="inline"></h2>
<h2 th:text="'Last name ' + ${developer.last_name}" class="inline"></h2>
<h2 th:text="'Age ' + ${developer.age}" class="inline"></h2>
<h2 th:text="'Salary ' + ${developer.salary}" class="inline"></h2>



</body>
</html>